html {
  background:#fffffff
}

body {
  margin:0; 
  background:#ffffff; 
  font-family:"Calibri", Trebuchet MS, Arial, Helvetica, sans-serif
}

* {
  margin:0; 
  padding:0
}

a {
  outline:0; 
  text-decoration:none
}

img {
  border:0
}

h1,h2,h3,h4,h5,h6 {
  font-weight:normal
}

li {
  list-style:none
}

.container {
  width: 1280px;
  margin-top: 0px;
}

body {
}

header {
	width:100%; 
        height:262px;  
        margin-top: 0px;
        float:left; 
        background:url(../images/mid-img--099.png) repeat-x
}

header img {
  width:250px; 
  height:100px; 
  margin-top:25px; 
  margin-left:35px; 
  float:left; 
  background:url(../images/logo-04.png) no-repeat
}

section {
  margin-top: 0em;
  width: 980px;
  font-size: 120%;
  padding: 20px 0 0 70px;
  background: #fff;
}

section h1 {
  font-size: 200%;
}

/* Links */

a {
  color: #999999;
  text-decoration: none;
}

a:hover {
  color: #999999;
  text-decoration: underline;
}

a:visited {
  color: #999999;
}

/* Navigation */

nav {
  float: right;
  padding: 1em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0 2em;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0em;
}

nav ul li a {
  padding: 0 5px;
  font-weight: normal;
}

nav ul li a:visited {
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Content */
#content  {
  width:100%; 
  padding-bottom:5px; 
  float:left; 
  /*
  background:#ffffff url(../images/contentBg.png) repeat-x
  */
}

#quotPan {
  width:980px; 
  height:80px; 
  margin-top:20px; 
  float:left; 
  position:relative; 
  left:2px; 
  border-top:#c9c9c9 
  solid 1px; 
}

#quotPan h3 {
  width:170px; 
  margin:14px 0 0 0px; 
  float:left; 
  line-height:45px
}

#quotPan input.txt {
  width:176px; 
  margin:20px 20px 0 24px; 
  padding:3px 5px; 
  height:30px; 
  float:left; 
  font-family:"Calibri", Trebuchet MS, Arial, Helvetica, sans-serif; 
  font-size:17px; 
  color:#bfbfbf; 
  font-weight:bold; 
  border:#cbcbcb solid 1px; 
  background:#ffffff
}

#quotPan input.btn {
  width:112px; 
  height:24px; 
  margin-top:27px; 
  float:left; 
  font-family:"Calibri", Trebuchet MS, Arial, Helvetica, sans-serif; font-size:20px; 
  color:#ffffff; 
  font-weight:bold; 
  text-align:center; 
  cursor:pointer; 
  border:0; 
  background:url(../images/25.gif) no-repeat
}

#quotPan input.btn:active {
  background-position:1px 1px
}

#quotPan input.btnsignup {
  width:180px; 
  height:44px; 
  margin-top:14px; 
  float:left; 
  font-family:"Calibri", Trebuchet MS, Arial, Helvetica, sans-serif; 
  font-size:20px; 
  color:#ffffff; 
  font-weight:bold; 
  text-align:center; 
  cursor:pointer; 
  border:0; 
  background:url(../images/submitBtn.png) no-repeat
}

#quotPan input.btnsignup:active {
  background-position:1px 1px
}

#signupbtn a {
  width:180px;
  height:44px;
  margin-top:14px;
  float:left;
  font-family:"Calibri", Trebuchet MS, Arial, Helvetica, sans-serif;
  font-size:20px;
  color:#ffffff;
  font-weight:bold;
  text-align:center;
  cursor:pointer;
  border:0;
  background:url(../images/submitBtn.png) no-repeat
}

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
#  background: #006400;
  background: #0ab;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

/* Footer */

footer {
  text-align: center;
  margin-top: 10px;
  width: 100%;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  float:left;
  background:url(../images/bg_foot.gif) repeat-x
}

footer nav {
  float: none;
}

/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

div.field, div.actions {
  margin-bottom: 10px;
}

/*  Error messages */

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

ul.users {
  margin-top: 1em;
}

ul.users li {
  list-style: none;
}

/*  Micropost styling */

h1.micropost {
  margin-bottom: 0.3em;
}

table.microposts {
  margin-top: 1em;
}

table.microposts tr {
  height: 70px;
}

table.microposts tr td.gravatar {
  border-top: 1px solid #ccc;
  vertical-align: top;
  width: 50px;
}

table.microposts tr td.micropost {
  border-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 10px;
}

table.microposts tr td.micropost span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}

div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.microposts {
  font-size: 80%;
}

form.new_micropost {
  margin-bottom: 2em;
}

form.new_micropost textarea {
  height: 4em;
  margin-bottom: 0;
}
