<h1>Sign up</h1>
Fill in your email and press Sign up. A confirmation mail will be sent to your email address.<br>
Please follow the instruction to complete your signup.

<%= form_for @user, :html => { :multipart => true, :id => "signup_form" } do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <%= render 'users/signup_fields', :f => f, :user => @user %>
  <div id="user_new_action">
    <%= f.submit "Sign up" %>
  </div>  
<% end %>
