<div class="user_info">
  <a href="<%= user_path(current_user) %>">
    <%#= gravatar_for current_user, :size => 30 %>
    <%= image_tag current_user.photo.url(:small) %>
    <span class="user_name">
      <%= current_user.name %>
    </span>
    <span class="meets">
      <%= pluralize(current_user.meets.count, "meets") %>
    </span>
  </a>
</div>
