<h1>Kaya Meet!</h1>
<p>
  This is the home page for Kaya Meet!<br/>
  More than <%= number_to_human @meets_count, :precision=>2, :significant=>true %> meets and counting
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
