<% if @meet && @meet.id %>
  <div class="meet_header hover_visibility_toggle">
    <%= meet_summary_brief @meet %>
    <td class='meet_static_map'>
      <%=link_to_meet_static_map @meet %>
    </td>
    <td class="meet_actions hover_visibility_visible hover_faint">
      <%= button_to "E", edit_meet_path(@meet), :title => "Edit this meet" %><br/>
      <%= button_to "X", @meet, :method => :delete, :confirm => "You sure?",
                            :title => "Delete this meet", , :class => "x_button" %>
    </td>
  </div>
<% end %>
