<% meet_map = true if !defined?(meet_map) %>
<% if @meet && @meet.id %>
  <div id="meet_summary" class="follow_display raise" follow_display="top_offset=>10px">
    <%= render :partial => 'meets/header', :locals => {:meet_map => meet_map} %>
  </div>
<% end %>
