<% content_for :main_content do %>
  <h1>Edit your meet profile</h1>
  <%= render 'meets/mview_form' %>
<% end %>

<% content_for :side_content do %>
  <%= render 'meets/meet_summary' %>
<% end %>

<%= render 'shared/main_side' %>
