<div class="main meet_map">
  <%= render :partial => 'shared/map', :locals => {:meets => @meet.lat_lng.present? ? [@meet] : [],
                                       :center_ll => @meet.lat_lng, :zoom => 15} %>
  <% if current_user.meets.count > 1 %>
    <%= link_to "More >>>", map_user_path(current_user), :title => "All meets" %>
  <% end %>
</div>

<%= render 'meet_summary' %>
