<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "News", 'http://www.facebook.com/pages/The-K-Page-DEV-DEV/163415170354577?v=app_2373072738&ref=ts#!/pages/The-K-Page-DEV-DEV/163415170354577?v=wall' %></li>
    </ul>
  </nav>
</footer>
