<header id="welcome_banner">
  <div class="clearfix container">
    <nav>
      <ul class="jsddm clearfix">
        <li full_border><%= link_to "Help", help_path %></li>
      </ul>
    </nav>
  </div>
</header>
